
.user-details-container {
  height: 50%;
  max-height: 50%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f8fa;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0; 
}
.picture-name-container, .repo-list-container {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.repo-list-container {
  align-self: center;
}
.username {
  margin: 0;
  line-height: 0;
}
.bio {
  max-width: 70%;
  text-justify: auto;
  align-self: center;
}
.name {
  color: #444d56;
}
.profilePic {
  justify-self: flex-start;
  width: 150px;
  height: auto;
  border-radius: 50%;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a {
  color: black;
  align-self: center;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



a:active {
  text-decoration: none;
  color: #444d56;
}
.repo-name:hover {
  color: white;
}
.repo-link:hover {
  color: white;
}
.repos-container {
  margin-top: 10px;
  height: 150px;
  width: 250px;
  align-self:center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5%;
}
.repos-container::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

.repos-container::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 20px; 
   height: 300px;
}

.repos-container::-webkit-scrollbar-thumb {
  background-color: #444d56;
  border-radius: 20px;
}
.repos-container::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 50px;
}
.repo-searchbar {
  border: 1px solid grey;
    border-radius: 9px;
    height: 20px;
    width: 200px;;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    align-self: center;
}
ul {
  list-style-type: none;
  align-self: center; 
}
.repo-name {
  border-radius: 9px;
  height: 25px;
  overflow: hidden;
  width: 180px;
  align-self: center;
}
.repo-name:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: #2f363d;
  color:white;
}

@media (max-width: 480px) {
  .user-details-container {
    flex-direction: column;
  }
  .picture-name-container {
    align-self: center;
    /* margin-left: 25%; */
  }
}