
.container--user-details {
  height: 50%;
  max-height: 50%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f8fa;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0; 
}
.container--pic-name, .container--repo-list {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container--repo-list {
  align-self: center;
}
.h1--username {
  margin: 0;
  line-height: 0;
}
.p--bio {
  max-width: 70%;
  text-justify: auto;
  align-self: center;
}
.p--name {
  color: #444d56;
}
.profilePic {
  justify-self: flex-start;
  width: 150px;
  height: auto;
  border-radius: 50%;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.a {
  color: black;
  align-self: center;
}
.a:link {
  text-decoration: none;
}

.a:visited {
  text-decoration: none;
}



.a:active {
  text-decoration: none;
  color: #444d56;
}
.repo-name:hover {
  color: white;
  background-color: #2f363d;
}
.a--repo-link:hover {
  /* color: white; */
  text-decoration: underline;
}
.container--repos {
  margin-top: 10px;
  height: 150px;
  width: 250px;
  align-self:center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5%;
  /* background-color: #efefef;
  border-radius: 5px;
  padding:8px 4 px; */
}
.container--repos::-webkit-scrollbar {
  width: 8px;
  height: 200px;
}


.container--repos::-webkit-scrollbar-thumb {
  background-color: #444d56;
  border-radius: 20px;
}
.container--repos::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

.searchbar--repo {
  border: 1px solid grey;
  border-radius: 9px;
  height: 20px;
  width: 200px;;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
  align-self: center;
}
.list--repo-names {
  list-style-type: none;
  align-self: center; 
}
.li--repo-name {
  height: 25px;
  overflow: hidden;
  width: 180px;
  align-self: center;
}
.repo-name:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: #2f363d;
  color:white;
}
.p--repos-not-found {
  width:180px;
  align-self: center;
}

@media (max-width: 600px) {
  .container--user-details {
    flex-direction: column;
  }
  .container--pic-name {
    align-self: center;
  }
}