.top {
    height: 100px;
    width: 100%;
    background-color: #2f363d;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title {
    color: #f6f8fa;
    font-size: 40px;
    padding: 1%;
    padding-top: 0;
}
.github-icon {
    width:70px;
    height: 70px;
    align-self: flex-end;
}